@use '~normalize.css/normalize';

:root {
  --white: #f7f3f0;
  --black: #0d0900;
  --container-width: 100%;
}

.chinese {
  font-family: source-han-sans-simplified-c, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.taste-tea {
  position: absolute;
  top: 482px;
  right: 33px;
  font-size: 259px;
  font-weight: 900;
  z-index: -999;
  color: #e3e1de;
  writing-mode: vertical-rl;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  margin: 20px 0 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: var(--container-width);

  // responsive nav
  > div {
    width: 200px;
  }

  > nav {
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: 200;
    letter-spacing: 1px;

    > div {
      cursor: pointer;

      > .dropdown {
        margin-top: 1em;
        position: absolute;
        transform: translate(-17px, 0);
        z-index: 999;
        transition: opacity 400ms ease-out;
        width: 178px;
        box-shadow: 0 12px 12px rgba(0, 0, 0, 0.25);

        > div {
          padding: 1em;
          background-color: var(--white);
          transition: all 200ms ease-out;

          &:hover {
            background-color: var(--black);
            color: var(--white);
          }
        }
      }
    }
  }
}

.logo {
  width: 45px;
}

.landing-video-area {
  width: 100%;
  height: 610px;
  margin: 32px 0 20px;
  overflow: hidden;
  position: relative;

  > .vid-container {
    margin: 0 auto;
    width: var(--container-width);

    > .vid {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transform: translateY(-62px);
    }
  }
}

.marquee {
  color: var(--white);
  font-size: 20vw;
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: default;

  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));

  position: absolute;
  top: 283px;
  mix-blend-mode: exclusion;

  > .marquee-content {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
    animation-play-state: playing;
    opacity: 100%;

    &:hover {
      animation-play-state: paused;
    }

    > span {
      padding: 0 4vw;
      white-space: nowrap;
    }
  }
}

.cta-container {
  width: 100%;
}

.cta {
  background-color: var(--white);
  border: 3px solid var(--black);
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 200ms ease-out;

  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.social-media {
  margin: 20px auto 0;
  width: var(--container-width);
  display: flex;
  justify-content: center;
  align-items: flex-end;

  > img {
    width: 24px;
    opacity: 60%;
    margin-left: 1.33em;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
