@use '~normalize.css/normalize';

:root {
  --white: #f7f3f0;
  --black: #0d0900;
  --container-width: 1440px;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 20px auto 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: var(--container-width);

  > nav {
    display: flex;
    width: 50%;
    align-items: end;
    justify-content: space-between;
    font-weight: 200;
    letter-spacing: 1px;

    > div {
      cursor: pointer;
    }
  }
}

.logo {
  width: 60px;
}

.landing-video-area {
  width: 100%;
  height: 800px;
  margin-top: 32px;
  overflow: hidden;
  position: relative;

  > .vid-container {
    margin: 0 auto;
    width: var(--container-width);

    > .vid {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.marquee {
  color: var(--white);
  font-size: 12vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));

  position: absolute;
  top: 450px;
  mix-blend-mode: exclusion;

  > .marquee-content {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
    animation-play-state: running;

    > span {
      padding: 0 2vw;
      white-space: nowrap;
    }
  }
}

.cta {
  background-color: var(--white);
  border: 3px solid var(--black);
  box-sizing: border-box;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.social-media {
  margin: 1em auto 0;
  width: var(--container-width);
  display: flex;
  justify-content: right;
  align-items: flex-end;

  > img {
    width: 24px;
    opacity: 60%;
    margin-left: 0.66em;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
